@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
	height: 100%; /* added for ease of styling*/
}
body {
	/*padding-top: 70px;*/
	padding-bottom: 90px;
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
	height: 100%; /* added for ease of styling*/
	background-color:#372549;
	color:#ddd;
}
h1,h2,h3{
	letter-spacing: 1px;
}
.cousine{
	font-family: "Cousine", cursive;
}
.navbar{
	background: rgba(26, 20, 35, 0.3);
	/*background: #1a1423;*/
	border-color: rgba(26, 20, 35, 0.6);
	height: 85px;
}
.navbar .main-menu{
	margin: 10px;
}
.gluu-logo {
	/*display: inline-block;*/
	height: 60px;
	/*left: 50px;*/
	opacity: 0.9;
	/*position: absolute;*/
	/*top: 50px;*/
	width: 60px;
}
.inverse{
  color:#bbb;
}
.link-icon{
	text-decoration: none;
	color: #333;
}
.link-icon:hover{
	text-decoration: none;
}
.modal{
	color: #1a1423;
}
#urls .badge{
  margin-right: 15px;
}
#urls .link-delete{
  background-color: #B94A48;
}
#urls .link-user{
  background-color: #3A87AD;
}
.userName{
	color: #357EBD;
}
.inverse kbd{
  background-color:#f9f2f4;
  color:#c7254e;
}
.fa.active{
  color:#fff;
}
.hint{
	position: fixed;
	bottom: 10px;
	left: 30px;
	right: 30px;
	background-color:rgba(255,255,255,0.2);
	border-radius:20px;
	padding:20px;
}
.hint i{
	padding: 0 12px 0 5px;
}
.main-menu{
	position: absolute;
	right: 15px;
	top: 20px;
}
.main-menu .bars{
	color: inherit;
}
.main-menu .dropdown-menu{
	margin-left: -50px;
}
#wizard h2{
	padding-bottom: 10px;
}
#wizard .thumbnail{
	height: 120px;
	padding-top: 20px;
	text-align: center;
}
#wizard input:checked + span{
	font-weight: bold;
}
#wizard input:checked + span small{
	font-weight: normal;
}
.wizard-step .next{
	width:200px;
	border-radius:26px;
	font-weight: bold;
}
.wizard-step .next .fa-angle-double-right{
	position: relative;
	top:3px;
	left: 3px;
	font-size: 150%;
}

/* COMPONENTS ICONS */
.your-gluus {
	position: relative;
	border-top: 2px solid rgba(255, 255, 255, 0.15);
	margin-top: 115px;
	padding-top: 0px;
	padding-bottom: 10px;
}
.gluu{
	position: relative;
	/*margin-left: 100px;*/
	padding: 20px;
	/*width: 600px;*/
  /*background: rgba(0, 0, 0, 0.1);*/
	border-top: 2px solid rgba(255, 255, 255, 0.15);
	margin-bottom: 10px;
	/*margin-top: 10px;*/
	/*border-radius: 10px;*/
}
/*
	Steps
*/
.gluu .smpl-step {
	/*border-bottom: solid 1px #e0e0e0;*/
	padding: 0 0 10px 0;
	/*margin-left: 50px;*/
}
.gluu .smpl-step > .smpl-step-step {
	padding: 0;
	position: relative;
}
.gluu .smpl-step > .smpl-step-step .smpl-step-num {
	font-size: 17px;
	margin-top: -20px;
	margin-left: 47px;
}
.gluu .smpl-step > .smpl-step-step .smpl-step-info {
	font-size: 14px;
	padding-top: 27px;
}
.gluu .smpl-step > .smpl-step-step > .smpl-step-icon {
	position: absolute;
	width: 120px;
	height: 120px;
	display: block;
	background: #fff;
	border: 4px solid #eacdc2;
	top: 45px;
	left: 50%;
	font-size: 70px;
	padding-top: 10px;
	margin-top: -35px;
	margin-left: -15px;
	border-radius: 50%;
}
.gluu .smpl-step > .smpl-step-step > .progress {
	position: relative;
	border-radius: 0px;
	height: 4px;
	box-shadow: none;
	margin-top: 72px;
	margin-bottom: 40px;
}
.gluu .smpl-step > .smpl-step-step > .progress > .progress-bar {
	width: 0px;
	box-shadow: none;
	background: #eacdc2;
	z-index: -10;
}
.gluu .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
	width: 100%;
}
.gluu .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
	width: 50%;
}
.gluu .smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
	width: 0%;
}
.gluu .smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
	width: 100%;
}
.gluu .smpl-step > .smpl-step-step > .smpl-step-icon {
	color: #1A1423;
}
.gluu .smpl-step > .smpl-step-step:first-child > .progress {
	left: 50%;
	width: 50%;
}
.gluu .smpl-step > .smpl-step-step:last-child > .progress {
	width: 50%;
	z-index: -10;
}
.gluu .smpl-step > .smpl-step-step .smpl-step-info{
	/*left: 45%;*/
	margin-top: -10px;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.gluu .smpl-step > .smpl-step-step a:hover{
	text-decoration: none;
	cursor: default;
}
.gluu .step{
	opacity: 0.9;
	float: left;
}
.gluu .step .icon{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border: 3px solid rgba(0,0,0,0.2);
	transition: background-color .5s ease 0s;
}
.gluu .step .desc{
	max-width: 100px;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}
.gluu .step .wrapper{
	display: inline-block;
	float: left;
}
.gluu .smpl-step i{
	/*display: block;*/
	font-size: 45px;
	/*float: left;*/
	margin: 0px 0px 0 15px;
	color: rgba(255,255,255,0.4);
}
.gluu .step:last-child i{
	display:none;
}
.gluu .smpl-step > .smpl-step-step > .smpl-step-icon.fullContact{
	/*background: #f7f7f7;*/
	background-image: url(/images/logos/fullcontact-stacked-solid-red.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	text-align: center;
}

.gluu .smpl-step > .smpl-step-step > .smpl-step-icon.google-spreadsheets{
	/*background: #f7f7f7;*/
	background-image: url(https://lh3.ggpht.com/e3oZddUHSC6EcnxC80rl_6HbY94sM63dn6KrEXJ-C4GIUN-t1XM0uYA_WUwyhbIHmVMH=w100);
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
	text-align: center;
}
.gluu .smpl-step > .smpl-step-step > .smpl-step-icon.mailchimp{
	/*background: #f7f7f7;*/
	background-image: url(https://static.mailchimp.com/web/brand-assets/logo-dark.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	text-align: center;
}
/*.gluu .smpl-step .icon.google-spreadsheets:hover:before{*/
/*	content: "Google Sheets";*/
/*	position: relative;*/
/*	top: 30px;*/
/*	font-size: 16px;*/
/*}*/
.gluu .smpl-step .twStream{
	color: #29a7df !important;
}
.gluu .smpl-step .twStream .icon{
	width: 200px;
	color: #eee;
	color: #29a7df !important;
	padding: 0px;
	font-family: FontAwesome;
	font-size: 70px;
	text-align: center;
}
.gluu .smpl-step .twStream .icon:before{
	content: "\f099";
}
.gluu .smpl-step.icon.twStream:hover:before{
	content: "Twitter";
	position: relative;
	top: -20px;
	font-size: 16px;
}
.gluu .step .icon.mongodb{
	/*background-color: #3b291f;*/
	/*background-color: rgba(59,41,31,0.8);*/
	background-color: #eee;
	background-image: url(http://www.unixstickers.com/image/data/stickers/mongo/mongo.sh.png);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	color: #eee;
	font-size: 30px;
	text-align: center;
}
.gluu .step .icon.mongodb:hover:after{
	content: "MongoDB";
	position: relative;
	top: 20px;
	font-size: 16px;
}
.gluu .step .icon:hover{
	background: rgba(255,255,255,0.4);
	transition: background-color .5s ease 0s;
}
.gluu .run{
	display: inline-block;
	position: absolute;
	right: 45px;
	top: 60px;
	width:105px;
	border-radius:40px;
}
.gluu .remove{
	position: absolute;
	right: 10px;
	top: 10px;
}
.btn.gplus{
	background-color: #D34836;
}
/* these are custom styles */

section{
	padding-top: 10%;
	padding-bottom: 10%;
}
.connect h1, .connect h5 {
	color: #fff;
	width: 85%;
}
.row.row-connect {
	width: 85%;
}

/* jumbo */

h2.text-center {
	padding-bottom: 18px;
}
.col-wth-steps {
	padding-top: 10px;
}
.add-gluu, .btn-add-gluu:hover, .btn-add-gluu:active, .btn-add-gluu:focus {
	color: #fff;
}
.btn-add-gluu {
	background: #D83A3A;
	color: #fff;
}

/*
	Steps
*/
.landing .smpl-step {
	margin-top: 40px;
	border-bottom: solid 1px #e0e0e0;
	padding: 0 0 10px 12.5%;
	margin-top: 100px;
	margin-left: 50px;
}
.landing .smpl-step > .smpl-step-step {
	padding: 0;
	position: relative;
}
.landing .smpl-step > .smpl-step-step .smpl-step-num {
	font-size: 17px;
	margin-top: -20px;
	margin-left: 47px;
}
.landing .smpl-step > .smpl-step-step .smpl-step-info {
	font-size: 14px;
	padding-top: 27px;
}
.landing .smpl-step > .smpl-step-step > .smpl-step-icon {
	position: absolute;
	width: 120px;
	height: 120px;
	display: block;
	background: #eacdc2;
	top: 45px;
	left: 50%;
	font-size: 70px;
	padding-top: 10px;
	margin-top: -35px;
	margin-left: -15px;
	border-radius: 50%;
}
.landing .smpl-step > .smpl-step-step > .progress {
	position: relative;
	border-radius: 0px;
	height: 8px;
	box-shadow: none;
	margin-top: 70px;
	margin-bottom: 40px;
}
.landing .smpl-step > .smpl-step-step > .progress > .progress-bar {
	width: 0px;
	box-shadow: none;
	background: #eacdc2;
}
.landing .smpl-step > .smpl-step-step.complete > .progress > .progress-bar {
	width: 100%;
}
.landing .smpl-step > .smpl-step-step.active > .progress > .progress-bar {
	width: 50%;
}
.landing .smpl-step > .smpl-step-step:first-child.active > .progress > .progress-bar {
	width: 0%;
}
.landing .smpl-step > .smpl-step-step:last-child.active > .progress > .progress-bar {
	width: 100%;
}
.landing .smpl-step > .smpl-step-step.disabled > .smpl-step-icon {
	background-color: #f5f5f5;
}
.landing .smpl-step > .smpl-step-step > .smpl-step-icon {
	color: #1A1423;
}
.landing .smpl-step > .smpl-step-step.disabled > .smpl-step-icon:after {
	opacity: 0;
}
.landing .smpl-step > .smpl-step-step:first-child > .progress {
	left: 50%;
	width: 50%;
}
.landing .smpl-step > .smpl-step-step:last-child > .progress {
	width: 50%;
}
.landing .smpl-step > .smpl-step-step.disabled a.smpl-step-icon {
	pointer-events: none;
}
.landing .smpl-step > .smpl-step-step .smpl-step-info{
	/*left: 45%;*/
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.landing .smpl-step > .smpl-step-step a:hover{
	text-decoration: none;
	cursor: default;
	/*position: absolute;*/
}
.add-gluu{
	position: fixed;
	z-index: 1;
	height: 0;
	bottom: 0;
}
.add-gluu .button{
	position: fixed;
	right: 20px;
	bottom: 20px;
}
.add-gluu a{
	height: 60px;
	width: 60px;
	border-radius: 30px;
	font-size: 30px;
	display: table-cell;
	vertical-align: middle;
}
.wizard-step h1 small{
	font-size: 14px !important;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
