/* Coolors Exported Palette - coolors.co/1c77c3-39a9db-40bcd8-f39237-d63230 */

/* RGB */
$brand-blue1: rgba(64, 188, 216, 1);
$brand-blue2: rgba(57, 169, 219, 1);
$brand-blue3: rgba(28, 119, 195, 1);
$brand-orange: rgba(243, 146, 55, 1);
$brand-red: rgba(214, 50, 48, 1);
$brand-border: #eeeeee;
$brand-bkg: #fbfbfb;
